DATABASE_URL="postgresql://edutech:edutech_secret@localhost:5432/edutech?schema=public"
JWT_SECRET="sua_chave_secreta_jwt"
JWT_REFRESH_SECRET="sua_chave_secreta_refresh_jwt"
PORT=3333
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"
SEED_SENHA_ADMIN="senha_do_admin"
SEED_SENHA_OPERADOR="senha_do_operador"
