DATABASE_URL="postgresql://edutech:edutech_secret@localhost:5432/edutech?schema=public"
JWT_SECRET="supersecret123"
JWT_REFRESH_SECRET="supersecret123_refresh"
PORT=3333
CORS_ORIGIN="*"
NODE_ENV="development"
